.navColor {
    background-color: #6ea4bf;
  }
  
  .Button {
    width: 93px;
    height: 23px;
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    background: rgba(224, 224, 224, 0);
    border: 3px solid #FFFFFF;
    border-radius: 12px;
  }
  
  .subNav {
    color: #6ea4bf;
  }
  
  img {
    height: 300px;
    width: 50px;
    padding-bottom: 10px
  }
  
  .cardpics {
    height: 120px;
    width: 150px;
    padding-top: 30px;
    padding-left: 10px;
  }
  
  .nexcar {
    height: 140px;
    border: 1px
  }
  
  #search {
    float: right;
  }