/* NavBar Styling */

.navColor {
  background: rgb(0, 0, 4);
  background: radial-gradient(circle, rgba(0, 0, 4, 1) 0%, rgba(4, 63, 133, 1) 100%);
}

.subNav {
  color: #043f85;
  font-size: 20px;
}

/* Nav links animation */

#activeNav {
  color: #1195c6;
}

li>a {
  position: relative;
  color: #043f85;
  text-decoration: none;
}

li>a:hover {
  color: #1195c6;
}

li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #043f85;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li>a:hover:before {
  visibility: visible;
  -webkit-transform: ;
  transform: scaleX(1);
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
}

/* Login Modal */

#modalColor {
  background: rgb(0, 0, 4);
  background: radial-gradient(circle, rgba(0, 0, 4, 1) 0%, rgba(4, 63, 133, 1) 100%);
}

/* User Sign Out button */

#signOut {
  display: none;
}



/* card elements */
.artcard{ 
    margin: 0% auto;
    text-align: center; 
    width: 600px;
    
}
.card-body{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height:325px ;
    image-rendering: auto;
    
}
.card-text{
height: auto;
font-size-adjust: inherit;

}
.outer{
  width: auto;
  
}
.inner{
  height: 50px;
  text-align: center;
  padding-top: 15px;
}