.navColor {
    background-color: #6ea4bf;
  }
  
  .Button {
    width: 93px;
    height: 23px;
    color: #FFFFFF;
    font-family: Arimo;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    background: rgba(224, 224, 224, 0);
    border: 3px solid #FFFFFF;
    border-radius: 12px;
  }
  
  .subNav {
    color: #6ea4bf;
  }
  .imgcard { 
    height: 350px;
    width: 190px;
    padding-left: 15px;
    padding-top: 10px;
  }
  #search {
    float: right;
  }
  .inner{
    
    text-align: center; 
    height: 20px;
    width: 475px;
    background-color: rgb(30, 39, 48)
  }
  .card-body{
    margin: 0% auto;
    text-align: center; 
    height:auto;
    width: 600px;
    background-color: rgb(202, 202, 202);
    text-align-last: auto;
    font-size: 15px;
  }
  .indexcard{ 
      margin: 0% auto;
      text-align: center; 
      width: 600px;
      background-color: rgb(12, 27, 43)
  }

 .sportscard{
    margin: 0% auto;
    text-align: center; 
    width: 700px;
    background-color: rgb(12, 27, 43)
 } 
 .heathlcard{
  margin: 0% auto;
    text-align: center; 
    width: 700px;
    background-color: rgb(12, 27, 43)
 }